In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('parallel_coint_scores.csv')

In [3]:
df

       Ticker 1  Ticker 2   5% Score   Normalized Score
0            KO       BTI  -3.344235           0.447943
1            KO        EL  -3.344235           0.274315
2            KO       BUD  -3.344235           0.539999
3            KO        PM  -3.344235           0.779104
4            KO       SNE  -3.344235           0.414604
...         ...       ...        ...                ...
113600     GLBS       NMM  -3.344246           0.612687
113601     GLBS      PATI  -3.344246           0.496721
113602     GLBS      PSHG  -3.344246           2.304111
113603     GLBS      AIRT  -3.344246           0.398240
113604     GLBS        NM  -3.344246           1.224403

[113605 rows x 4 columns]