In [1]:
import pandas as pd
import datetime as dt

In [2]:
spy = pd.read_csv('./data/spy.csv')
voo = pd.read_csv('./data/voo.csv')

In [3]:
spy.tail()

               DATE              TIME_M SYM_ROOT  SYM_SUFFIX  SIZE   PRICE
126291532  20201030  15:49:59.987597056      SPY         NaN    70  324.12
126291533  20201030  15:49:59.987600384      SPY         NaN   100  324.12
126291534  20201030  15:49:59.989840384      SPY         NaN   100  324.13
126291535  20201030  15:49:59.992486656      SPY         NaN   100  324.12
126291536  20201030  15:49:59.998130176      SPY         NaN    30  324.14

In [4]:
voo.tail()

             DATE              TIME_M SYM_ROOT  SYM_SUFFIX  SIZE   PRICE
9239095  20201030  15:49:59.858292736      VOO         NaN   100  297.80
9239096  20201030  15:49:59.858367232      VOO         NaN   100  297.82
9239097  20201030  15:49:59.874260224      VOO         NaN   100  297.81
9239098  20201030  15:49:59.883978496      VOO         NaN     6  297.77
9239099  20201030  15:49:59.897395200      VOO         NaN    96  297.77

In [5]:
spy = spy[['DATE', 'TIME_M', 'PRICE']]
voo = voo[['DATE', 'TIME_M', 'PRICE']]

In [6]:
spy.tail()

               DATE              TIME_M   PRICE
126291532  20201030  15:49:59.987597056  324.12
126291533  20201030  15:49:59.987600384  324.12
126291534  20201030  15:49:59.989840384  324.13
126291535  20201030  15:49:59.992486656  324.12
126291536  20201030  15:49:59.998130176  324.14

In [7]:
def toDateTime(date, time):
    year = date // 10000
    month = date // 100 % 100
    day = date % 100
    time = time.split(":")
    h = int(time[0])
    m = int(time[1])
    s = float(time[2])
    ms = (round(float(time[2]), 6) - int(s)) * 1000000
    if int(ms) == 1000000:
        ms = 0
        if int(s) == 59:
            s = 0
            if m == 59:
                m = 0
                h += 1
            else:
                m += 1
        else:
            s += 1
    return dt.datetime(year, month, day, hour=h, minute=m, second=int(s), microsecond=int(ms))

In [8]:
spy['datetime'] = [toDateTime(spy['DATE'].iloc[i], spy['TIME_M'].iloc[i]) for i in range(len(spy))]
spy['datetime'].tail()

126291532   2020-10-30 15:49:59.987597
126291533   2020-10-30 15:49:59.987600
126291534   2020-10-30 15:49:59.989840
126291535   2020-10-30 15:49:59.992486
126291536   2020-10-30 15:49:59.998130
Name: datetime, dtype: datetime64[ns]

In [9]:
voo['datetime'] = [toDateTime(voo['DATE'].iloc[i], voo['TIME_M'].iloc[i]) for i in range(len(voo))]
voo['datetime'].tail()

9239095   2020-10-30 15:49:59.858293
9239096   2020-10-30 15:49:59.858367
9239097   2020-10-30 15:49:59.874259
9239098   2020-10-30 15:49:59.883977
9239099   2020-10-30 15:49:59.897395
Name: datetime, dtype: datetime64[ns]

In [16]:
spy.tail(15)

                            spyprice
datetime
2020-10-30 15:49:59.938603  324.1100
2020-10-30 15:49:59.938603  324.1100
2020-10-30 15:49:59.939399  324.1200
2020-10-30 15:49:59.940939  324.1100
2020-10-30 15:49:59.941324  324.1200
2020-10-30 15:49:59.941676  324.1200
2020-10-30 15:49:59.947724  324.1200
2020-10-30 15:49:59.947724  324.1200
2020-10-30 15:49:59.958540  324.1200
2020-10-30 15:49:59.965933  324.0901
2020-10-30 15:49:59.987597  324.1200
2020-10-30 15:49:59.987600  324.1200
2020-10-30 15:49:59.989840  324.1300
2020-10-30 15:49:59.992486  324.1200
2020-10-30 15:49:59.998130  324.1400

In [11]:
voo.tail()

             DATE              TIME_M   PRICE                   datetime
9239095  20201030  15:49:59.858292736  297.80 2020-10-30 15:49:59.858293
9239096  20201030  15:49:59.858367232  297.82 2020-10-30 15:49:59.858367
9239097  20201030  15:49:59.874260224  297.81 2020-10-30 15:49:59.874259
9239098  20201030  15:49:59.883978496  297.77 2020-10-30 15:49:59.883977
9239099  20201030  15:49:59.897395200  297.77 2020-10-30 15:49:59.897395

In [12]:
spy = spy.set_index('datetime')
spy = spy.rename(columns={'PRICE': 'spyprice'})
spy = spy[['spyprice']]
spy.tail()

                            spyprice
datetime
2020-10-30 15:49:59.987597    324.12
2020-10-30 15:49:59.987600    324.12
2020-10-30 15:49:59.989840    324.13
2020-10-30 15:49:59.992486    324.12
2020-10-30 15:49:59.998130    324.14

In [13]:
voo = voo.set_index('datetime')
voo = voo.rename(columns={'PRICE': 'vooprice'})
voo = voo[['vooprice']]
voo.tail()

                            vooprice
datetime
2020-10-30 15:49:59.858293    297.80
2020-10-30 15:49:59.858367    297.82
2020-10-30 15:49:59.874259    297.81
2020-10-30 15:49:59.883977    297.77
2020-10-30 15:49:59.897395    297.77

In [14]:
data = spy.join(voo, how='outer')
data = data.ffill()
data.tail(50)

                            spyprice  vooprice
datetime
2020-10-30 15:49:59.875402  324.1000    297.81
2020-10-30 15:49:59.882555  324.1200    297.81
2020-10-30 15:49:59.882640  324.1200    297.81
2020-10-30 15:49:59.883977  324.1200    297.77
2020-10-30 15:49:59.884075  324.1000    297.77
2020-10-30 15:49:59.884084  324.1000    297.77
2020-10-30 15:49:59.884154  324.1000    297.77
2020-10-30 15:49:59.884228  324.1000    297.77
2020-10-30 15:49:59.884234  324.1000    297.77
2020-10-30 15:49:59.884560  324.0900    297.77
2020-10-30 15:49:59.888568  324.0900    297.77
2020-10-30 15:49:59.890332  324.0900    297.77
2020-10-30 15:49:59.890348  324.0900    297.77
2020-10-30 15:49:59.890639  324.0900    297.77
2020-10-30 15:49:59.893436  324.0800    297.77
2020-10-30 15:49:59.895586  324.1000    297.77
2020-10-30 15:49:59.895591  324.1000    297.77
2020-10-30 15:49:59.896327  324.1000    297.77
2020-10-30 15:49:59.896327  324.1000    297.77
2020-10-30 15:49:59.897395  324.1000    297.77
2020-10-30 15:49:59.900122  324.1100    297.77
2020-10-30 15:49:59.917689  324.1000    297.77
2020-10-30 15:49:59.920178  324.1100    297.77
2020-10-30 15:49:59.920178  324.1100    297.77
2020-10-30 15:49:59.921809  324.1100    297.77
2020-10-30 15:49:59.921919  324.1100    297.77
2020-10-30 15:49:59.925482  324.1100    297.77
2020-10-30 15:49:59.936388  324.1100    297.77
2020-10-30 15:49:59.936528  324.1000    297.77
2020-10-30 15:49:59.937080  324.1100    297.77
2020-10-30 15:49:59.937184  324.1100    297.77
2020-10-30 15:49:59.937195  324.1100    297.77
2020-10-30 15:49:59.937224  324.1100    297.77
2020-10-30 15:49:59.937998  324.1100    297.77
2020-10-30 15:49:59.938498  324.1100    297.77
2020-10-30 15:49:59.938603  324.1100    297.77
2020-10-30 15:49:59.938603  324.1100    297.77
2020-10-30 15:49:59.939399  324.1200    297.77
2020-10-30 15:49:59.940939  324.1100    297.77
2020-10-30 15:49:59.941324  324.1200    297.77
2020-10-30 15:49:59.941676  324.1200    297.77
2020-10-30 15:49:59.947724  324.1200    297.77
2020-10-30 15:49:59.947724  324.1200    297.77
2020-10-30 15:49:59.958540  324.1200    297.77
2020-10-30 15:49:59.965933  324.0901    297.77
2020-10-30 15:49:59.987597  324.1200    297.77
2020-10-30 15:49:59.987600  324.1200    297.77
2020-10-30 15:49:59.989840  324.1300    297.77
2020-10-30 15:49:59.992486  324.1200    297.77
2020-10-30 15:49:59.998130  324.1400    297.77

In [15]:
data.to_csv('./data/spyvooTicks.csv')